.askusUnavailablephone {
    display: none;
}

@media only screen and (max-width: 950px) {
.homeimg {
    display: none;
}

.mode {
    display: none;
}

.navbar-toggler {
    position: relative;
    left: 80%;
}


.logo {
    position: relative;
    right: 120%;
}

.underlogo {
    display: none;
}

.askusStuff {
    display: none;
}

.askusUnavailablephone {
    display: block;
}

#navbar-example2 {
    display: none;
}
}